{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}


        <table class="table table-sm">
            <thead>
                <tr>
                    <!--There are three empty cell in the first header-->
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>

            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.sumShares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
                {% endfor %}

                {% for u in user %}
                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ u.cash }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ worth  }}</b></td>
                </tr>
            </tfoot>

        </table>

{% endblock %}
